{% extends 'base.html' %}


{% block content %}
<main class="recipe-detail">
    <div>
        <a href="{% url 'meal_edit' meal_plan_detail.id %}">Edit</a>
        <a href="{% url 'meal_delete' meal_plan_detail.id %}">Delete</a>
    </div>
    <h1>{{ meal_plan_detail.name }}</h1>
    <p>
        Date on {{ meal_plan_detail.date }}
    </p>
</main>
{% endblock content %}
